*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --velCtverce: 3rem;
    --velSymbolu: calc(var(--velCtverce) * .9);
}

body {
    margin: 0;
}

.plocha {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(26, auto);
}

.box  {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: white;
    border: 1px solid black ; 
}

.box:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

div.x {
    justify-content: center;
    margin-left: calc(var(--velCtverce)/2.1);
    margin-top: calc(var(--velCtverce)/10);
}

div.x::before {
    position: absolute;
    content: '';
    height: var(--velSymbolu);
    width: calc(var(--velSymbolu) * .10);
    background-color: rgb(9, 72, 245);
    transform: rotate(45deg);
}

div.x::after {
    position: absolute;
    content: '';
    height: var(--velSymbolu);
    width: calc(var(--velSymbolu) * .10);
    background-color: rgb(9, 72, 245);
    transform: rotate(-45deg);
}


div.o {
    justify-content: center;
    margin-left: calc(var(--velCtverce)/9);
    margin-top: calc(var(--velCtverce)/11);
}

div.o::before {
    position: absolute;
    content: '';
    height: calc(var(--velSymbolu) * .9);
    width: calc(var(--velSymbolu) * .9);
    background-color: none;
    margin-top: .1em;
    border: 5px solid red;
    border-radius: 50%;
}

div.t {
    justify-content: center;
    margin-left: calc(var(--velCtverce)/4);
    margin-top: calc(var(--velCtverce)/11);
}

div.t::before {
    content: '';
    position: absolute;
    margin-right: 1.25rem;
    height: calc(var(--velSymbolu) * 0.9);
    width: calc(var(--velSymbolu) * .10);
    background-color: green;
    transform: rotate(35deg);
    margin-top: .1em;
} 

div.t::after {
    content: '';
    position: absolute;
    margin-left: 1.3rem;
    height: calc(var(--velSymbolu) * 0.9);
    width: calc(var(--velSymbolu) * .10);
    background-color: green;
    transform: rotate(-35deg); 
    margin-top: .1em;
} 

div.x,
div.o,
div.t {
    cursor: not-allowed; 
}


#vyhra.vyherniObrazovka {
    position: fixed;
    top: 0;
    text-align: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.274);
}

#restart {
    margin-inline: auto;
}