*, *::after, *::before {
    box-sizing: border-box;
    overflow: hidden;
}

@font-face {
    font-family: vyherniFont;
    src: url(font/Ridge5Bold-51Rga.otf);
}

:root {
    --velCtverce: 3rem;
    --velSymbolu: calc(var(--velCtverce) * .9);
}

body {
    margin: 0;
}

.plocha {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(26, auto);
}

.box  {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: white;
    margin: 2px;
    border-radius: 10px 10px;
    background: rgb(168, 168, 168);
    /* border: 1px solid black ;  */
}

.box:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

div.x {
    justify-content: center;
    margin-left: calc(var(--velCtverce)/2.1);
    margin-top: calc(var(--velCtverce)/10);
}

div.x::before {
    position: absolute;
    content: '';
    height: var(--velSymbolu);
    width: calc(var(--velSymbolu) * .2);
    background-color: rgb(9, 72, 245);
    transform: rotate(45deg);
}

div.x::after {
    position: absolute;
    content: '';
    height: var(--velSymbolu);
    width: calc(var(--velSymbolu) * .2);
    background-color: rgb(9, 72, 245);
    transform: rotate(-45deg);
}


div.o {
    justify-content: center;
    margin-left: calc(var(--velCtverce)/9);
    margin-top: calc(var(--velCtverce)/11);
}

div.o::before {
    position: absolute;
    content: '';
    height: calc(var(--velSymbolu) * .9);
    width: calc(var(--velSymbolu) * .95);
    background-color: none;
    margin-top: .1em;
    border: 7.5px solid red;
    border-radius: 50%;
}

div.t {
    --t:7.5px;  /* Tloušťka */
    --c:rgb(5, 119, 5); /* Barva */

    width: 50px;
    height: calc(var(--velSymbolu) * 0.9);
    display:inline-block;
    border:var(--t) solid transparent;
    border-bottom-color:var(--c);
    background:
        /* levá */
        linear-gradient(to bottom left,
        transparent 49.5%,var(--c) 50% calc(50% + var(--t)),
        transparent calc(50% + var(--t) + 1px)) right,
        /* pravá */
        linear-gradient(to bottom right,
        transparent 49.5%,var(--c) 50% calc(50% + var(--t)),
        transparent calc(50% + var(--t) + 1px)) left;
    background-size:50% 100%;
    background-origin:border-box;
    background-repeat:no-repeat;
}

div.x,
div.o,
div.t {
    cursor: not-allowed; 
}

/* VÝHERNÍ OBRAZOVKA */

#vyhra.vyherniObrazovka {
    position: fixed;
    display: grid;
    top: 0;
    text-align: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.911);/*rgba(0, 0, 0, 0.274);*/
}

#nadpis {
    font-size: 8rem;
    font-family: vyherniFont;
}


/* CSS */
#restart {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    justify-self: center;
}

#restart::after,
#restart::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all .4s;
}

#restart::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

#restart::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

#restart:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

#restart:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

#restart:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}